body{

    background-color: #F4B41A;
}

.titulo{

    color: #143D59;
    display: block;
}

.titulo h1{
    font-size: 40px;
    text-align: center;
    
}

.titulo h2{
    font-size: 30px;
    text-align: center;
    
}